.album {
  position: relative;
  max-width: 50%;
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-top: .6rem;
  margin: 2rem auto 2rem auto;

  .info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    text-align: left;
    margin-left: 2rem;
    align-self: center;

    span:nth-child(2n-1) {

      font-weight: bold;
    }
  }

  #editBtn {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 1rem;
    background-image: url(../../../assets/img/edit.svg);
    background-size: 30px;
    background-position: center;
    border: none;
    opacity: .7;
    transition: opacity .2s ease;

    &:hover {
      opacity: 1;
    }
  }
}
