<div *ngIf="album">
  <h2>Detalles del album {{album.title | uppercase}}</h2>

  <div class="album">
    <!-- ALBUM COVER -->
    <app-album-case [coverUrl]="album.coverUrl"></app-album-case>
    <!-- ALBUM DATA -->
    <div class="info">
      <span>Title: </span><span>{{album.title}}</span>
      <span>Artist: </span><span>{{album.artistName}}</span>
      <span>Genre: </span><span>{{album.genre}}</span>
      <span>Year: </span><span>{{album.year}}</span>
      <span>Update Date: </span><span>{{album._updatedAt | date}}</span>
    </div>
    <!-- EDIT ALBUM BUTTON -->
    <button id="editBtn" routerLink="/album-edit/{{album._id}}"></button>
  </div>
</div>
