<div id="case" class="cd-case">
  <div class="album-art" [ngStyle]="{'background-image': 'url(' + coverUrl + ')'}">
    <div class="sup pos-tl"></div>
    <div class="sup pos-tr"></div>
    <div class="sup pos-bl"></div>
    <div class="sup pos-br"></div>
  </div>
  <div class="spine"></div>
</div>


