.artist {
  position: relative;
  max-width: 50%;
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 2rem auto 2rem auto;
  padding: 1rem 2rem;


  // Artist image with 'wooden' frame.
  img {
    max-width: 500px;
    width: 55%;
    height: auto;
    display: block;
    margin: 3rem auto;
    padding: 1%;
    background-color: #A67B5B;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/cardboard.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 6px double #483C32;
    box-shadow: 0 0 0 6px rgba(244, 240, 236, 0.4) inset, 0 0 0 11px rgb(180, 130, 90), 0 0 30px rgba(0, 0, 0, 0.8) inset;
    outline: 2px solid #333;
    outline-offset: 0;
  }


  .info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    text-align: left;
    margin-left: 2rem;
    align-self: center;

    span:nth-child(2n-1) {

      font-weight: bold;
    }
  }

  #editBtn {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 1rem;
    background-image: url(../../../assets/img/edit.svg);
    background-size: 30px;
    background-position: center;
    border: none;
    opacity: .7;
    transition: opacity .2s ease;

    &:hover {
      opacity: 1;
    }
  }
}
