<div *ngIf="artist">
  <h2>Detalles del artista {{artist.name | uppercase}}</h2>

  <div class="artist">
    <!-- ARTIST PICTURE -->
    <img src="{{artist.photoUrl}}">
    <div class="info">
      <span>Name: </span><span>{{artist.name}}</span>
      <span>Birth: </span><span>{{artist.birthdate | date}}</span>
      <span>Death: </span><span>{{artist.deathDate | date}}</span>
    </div>
    <button id="editBtn" routerLink="/artist-edit/{{artist._id}}"></button>
  </div>
</div>
