<div class="container">
  <h2>Artist Add</h2>

  <div id="artistAdd">
    <label>Artist Name:</label><input [(ngModel)]="artistData.name" placeholder="Artist Name"/>
    <label>Artist Photo URL:</label><input [(ngModel)]="artistData.photoUrl" placeholder="Artist Photo URL"/>
    <label>Artist Birth Date:</label><input [(ngModel)]="artistData.birthdate" placeholder="Artist Birth Date"/>
    <label>Artist Death Date:</label><input [(ngModel)]="artistData.deathDate" placeholder="Artist Death Date"/>
    <button (click)="addArtist()" id="addArtistBtn"></button>
  </div>

</div>
