<div class="container">
  <h2>Update Album</h2>
  <div id="albumEdit">
    <!-- TITLE -->
    <label>Album Title:</label><input [(ngModel)]="albumData.title" placeholder="Album Title"/>
    <!-- COVER -->
    <label>Album Cover URL:</label> <input [(ngModel)]="albumData.coverUrl" placeholder="Album Cover URL"/>
    <!-- YEAR -->
    <label>Album Year:</label><input [(ngModel)]="albumData.year" placeholder="Album Year"/>
    <!-- GENRE -->
    <label>Album Genre:</label> <input [(ngModel)]="albumData.genre" placeholder="Album Genre"/>
    <!-- ARTIST -->
    <label>Album Artist:</label>
    <select [(ngModel)]="albumData.artistId">
      <option selected value> -- select an option -- </option>
      <option [value]="item._id" *ngFor="let item of artistsList">{{item.name}}</option>
    </select>

    <button (click)="updateAlbum()" id="editBtn"></button>
  </div>
</div>
