<div class="container">
  <!-- TITLE -->
  <h2>Albums List</h2>
  <!-- ADD NEW ALBUM BUTTON -->
  <div><button id="addBtn" (click)="add()"><span>Add New Album</span></button></div>
  <div><button id="changeViewButton" (click)="toggleCoverViewMode()"><span>Change View Mode</span></button></div>

  <!-- LIST OF ALBUMS -->
  <div class="albums">
    <div class="album {{coverView ? 'big' : 'small'}}" *ngFor="let album of albums; let i=index;">
      <a routerLink="/album-details/{{album._id}}">
        <!-- ALBUM COVER -->
        <app-album-case title="{{album.title}}" [coverUrl]="album.coverUrl"></app-album-case>
        <!-- ALBUM NAME -->
        <span class="badge">{{i+1}}</span> <span class="title">{{album.title}}</span>
      </a>
      <!-- DELETE ALBUM BUTTON -->
      <button id="deleteBtn" title="Remove Album {{album.title}}" (click)="delete(album._id)">x</button>
    </div>
  </div>
</div>
