.container {
  max-width: 50%;
  text-align: left;

  h2 { text-align: left;}

  #artistEdit {

    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    text-align: left;
    align-self: center;
    padding: 2rem 6rem 2rem 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 2rem 0 2rem 0;
  }

  #editBtn {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 1rem;
    top: 1rem;
    background-image: url(../../../assets/img/save.svg);
    background-size: 30px;
    background-position: center;
    border: none;
    opacity: .7;
    transition: opacity .2s ease;

    &:hover {
      opacity: 1;
    }
  }
}


