<div class="container">
  <h2>Update Album</h2>
  <div id="artistEdit">
    <label>Artist Name:</label><input [(ngModel)]="artistData.name" placeholder="Artist Name"/>
    <label>Artist Photo URL:</label> <input [(ngModel)]="artistData.photoUrl" placeholder="Artist Photo URL"/>
    <label>Artist Birth Date:</label><input [(ngModel)]="artistData.birthdate" placeholder="Artist Birth Date"/>
    <label>Artist Death Date:</label> <input [(ngModel)]="artistData.deathDate" placeholder="Artist Death Date"/>
    <button (click)="updateArtist()" id="editBtn"></button>
  </div>
</div>
