<!-- NAVIGATION BAR -->
<nav-bar class="nav-bar" (drawerToggleEmitter)="toggleDrawer($event)"></nav-bar>
<!-- OUR ROUTER: DOMAIN ORIENTED NAVIGATION -->
<router-outlet></router-outlet>


<!--  Dummy Text to increase the height of main section  -->
<!--
<main class="container main-section navbar-padding" style="text-align: justify;">
  <span class="dummy-text">{{getDummyText()}}</span>
  <span class="dummy-text">{{getDummyText()}}</span>
  <span class="dummy-text">{{getDummyText()}}</span>
  <span class="dummy-text">{{getDummyText()}}</span>
</main> -->
