<div class="container">
  <!-- TITLE -->
  <h2>Artist List</h2>
  <!-- ADD NEW ARTIST BUTTON -->
  <div><button id="addBtn" (click)="add()" title="Add New Artist"><span>Add New Artist</span></button></div>
  <!-- LIST OF ARTISTS -->
  <div class="artists">
    <div class="artist small" *ngFor="let artist of artists; let i=index;">
      <a routerLink="/artist-details/{{artist._id}}">
        <!-- ARTIST NAME -->
        <span class="badge">{{i+1}}</span> <span class="title">{{artist.name}}</span>
      </a>
      <!-- DELETE ARTIST BUTTON -->
      <button id="deleteBtn" title="Remove Artist {{artist.name}}" (click)="delete(artist._id)">x</button>
    </div>
  </div>
</div>
