.container {
  position: relative;
}

// artists list.
.artists {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  list-style-type: none;
  padding: 1.4rem 0 0 0;
  max-width: 56%;
  margin: auto auto 2rem;
  vertical-align: middle;


  @media screen and (max-width: 48rem) {
    grid-template-columns: 1fr;
  }



  .artist {
    position: relative;
    cursor: pointer;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: fit-content;
    min-height: 3rem;
    border-radius: 4px;
    min-width: 96%;


    // On hover over artist element.
    &:hover {
      color: #607D8B;
      background-color: #DDD;
      left: .1em;
    }

    a {
      color: #888;
      text-decoration: none;
      position: relative;
      display: block;
      width: 100%;
      &:hover {
        color:#607D8B;
      }


      .badge {
        position: relative;
        display: inline-block;
        font-size: small;
        color: white;
        padding: 0.8em 0.7em 0.8em 0.7em;
        background-color: #607D8B;
        line-height: 1em;
        left: 6px;
        top: 4px;
        height: 2.2em;
        min-width: 16px;
        text-align: right;
        margin-right: 1.2rem;
        border-radius: 4px;

      }

      .title {

      }
    }


  }







}


button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;



  // Add new artist button
  &#addBtn, &#changeViewButton {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 2.5rem;
    background: #eee url(../../../assets/img/plus.svg) no-repeat right .4rem center;
    background-size: 1.4rem;
    transition: all .2s ease;
    &:hover {
      background-color: #b9b9bd;
      color: white;
    }

    @media screen and (max-width: 48rem) {
      min-width: 2.4rem;
      min-height: 2.6rem;
      padding-right: 0!important;
      span {display: none;}
    }
  }

  // Change View Mode Button
  &#changeViewButton {
    position: absolute;
    right: 0;
    top: 3rem;
    background: #eee url(../../../assets/img/change.svg) no-repeat right .4rem center;
    background-size: 1.4rem;
  }

  // Delete artist button.
  &#deleteBtn {
    position: absolute;
    right: .4rem;
    top: .4rem;
    background-color: gray !important;
    color: white;
  }

  &:hover {
    background-color: #cfd8dc;
  }
}


