<ul id="navbar-list" class="navbar-nav override">
  <li class="nav-item override" (click)="onNavLinkClicked($event)">
    <a [routerLink]="['/albums']" [queryParams]="{coverView: true}" class="nav-link override" id="Home">Covers</a>
  </li>
  <li class="nav-item override" (click)="onNavLinkClicked($event)">
    <a routerLink="/artists" class="nav-link override" id="About">Artists</a>
  </li>
  <!-- <li class="nav-item override" (click)="onNavLinkClicked($event)">
    <a routerLink="/artists" class="nav-link override" id="Artists">Artists</a>
  </li> -->
</ul>
<span class="drawer-inset-shadow"></span>
