/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@font-face {
  font-family: roboto;
  src: url(/assets/font/roboto/Roboto-Light.ttf) format("opentype");
}
html {height: 100%}
body {
  padding-top: 5rem;
  background-color: #fff;
  font-family: 'roboto', 'arial', sans-serif;
  background-image: url(./assets/img/bg002.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 90%;
  background-attachment: fixed;
}

